[project]
	state = active
[access "refs/heads/*"]
	owner = group nemesismaintainer
	create = group nemesismaintainer
	push = group nemesismaintainer
	pushMerge = group nemesismaintainer
	label-Code-Review = -2..+2 group nemesismaintainer
	label-Verified = -1..+1 group nemesismaintainer
	rebase = group nemesismaintainer
