<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student Robotics Account Password Reset</title>
        <link type="text/css" rel="stylesheet" href="{root}static/bootstrap/css/bootstrap.css"></link>
        <link type="text/css" rel="stylesheet" href="{root}static/bootstrap/css/bootstrap-responsive.css"></link>
        <link type="text/css" rel="stylesheet" href="{root}static/css/main.css"></link>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{root}static/js/base64.js"></script>
        <script type="text/javascript" src="{root}static/js/change_password.js"></script>
        <script type="text/javascript" src="{root}static/js/change_password_view.js"></script>
        <script type="text/javascript" src="{root}static/js/college.js"></script>
        <script type="text/javascript" src="{root}static/js/template_expander.js"></script>
        <script type="text/javascript" src="{root}static/js/user.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">Userman</span>
                    <p id="messages" class="navbar-text pull-right"></p>
                </div>
            </div>
        </div>
        <div class="container" id="content">
            <div class="row">
                <div class="span9">
                    <div id="data-user-set-password">
                    </div>
                </div>
            </div>
        </div>
        <div class="templates">
            <script type="text/template" id="set-password">
                <p>
                    Hi {first_name}, your password has been reset.
                    You now need to set a new password before you can return to using your Student Robotics
                    <a href="/docs/user_accounts" title="Find out more about user accounts" target="_blank">user account</a>.
                </p><p>
                    Note that if you don't do this now, you'll need to ask your team-leader to send another reset email,
                    since this page will not work a second time.
                </p>
                <div id="data-change-password">
                    <fieldset>
                        <label>New Password</label>
                        <input type="password" name="new_password">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password">
                        <hr>
                        <button type="submit" class="btn btn-primary" id="set-password-submit">Submit</button>
                    </fieldset>
                </div>
            </script>
            <script type="text/template" id="account-details">
                <p>
                    Congratulations {first_name}, your password has been changed.
                </p><p>
                    If you need to change your password again in the future you can do so by visiting the
                    <a href="{root}" title="Student Robotics User Management Interface" target="_blank">user management page</a>.
                </p>
            </script>
            <script type="text/json" id="init-data">
                {{ "username": "{username}"
                 , "password": "{password}"
                 ,     "root": "{root}" }}
            </script>
        </div>
    </body>
</html>
